:root {
    --bs-primary: #1ABC9C;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary: #2C3E50;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-info: #3A546D;
    --bs-info-rgb: 58, 84, 109;
}

body {
    color: white;
}

/* Navbar */
nav {
    width: 100%;
    background-color: var(--bs-secondary);
}


.line {
    border-color: white;
    margin: .4rem;
    opacity: 1;
}

/* Header */

header{
    background-color: var(--bs-primary);
}

.bg-card img {
    max-width: 250px;
}

.divider {
    width: 100%;
    opacity: 1;
    border-top: 3px solid;
}

i {
    font-size: 1.5rem;
    padding: 0 .5rem;
}

main{
    background-color: white;
}

.second-divider{
    border-color: var(--bs-secondary);
}

main i{
    color: var(--bs-secondary);
}






.row {
    border: 1px solid red
}

[class*="col-"] {
    border: 1px solid rgb(0, 255, 13);
}