:root {
    --bs-primary: #1ABC9C;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary: #2C3E50;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-info: #3A546D;
    --bs-info-rgb: 58, 84, 109;

}

.text-secondary{
    color: var(--bs-secondary);
}


/* Navbar */
nav {
    background-color: var(--bs-secondary);
}


.line {
    margin: .4rem;
    opacity: 1;
}

/* Header */

header{
    background-color: var(--bs-primary);
}


.divider {
    border-top: 3px solid;
}

.star i {
    font-size: 1.5rem;
    padding: 0 .5rem;
}


button>i{
    font-size: 1rem;
}

main{
    background-color: white;
}

.second-divider{
    border-color: var(--bs-secondary);
}

main section:first-child i, main section:nth-child(3) i{
    color: var(--bs-secondary);
}
.btn-primary{
    background-color: var(--bs-primary);
}
.btn-primary:hover{
    background-color: var(--bs-info);
}
.btn-outline-secondary{
    color:white ;
}
.btn-outline-secondary:hover{
    background-color: var(--bs-info);
}

.circle{
    min-width: 50px;
    min-height: 50px;
}

.link-primary{
    color: var(--bs-primary);
    text-decoration: none;
}
.link-primary:focus, .link-primary:hover{
    color: var(--bs-secondary);  /*Non entra l'hover*/
}





.row {
    border: 1px solid red
}

[class*="col-"] {
    border: 1px solid rgb(0, 255, 13);
}