:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary: #2C3E50;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-info: #3A546D;
    --bs-info-rgb: 58, 84, 109;

}

.text-secondary{
    color: var(--bs-secondary);
}
.main-text{
    text-align: center;
    text-transform: uppercase;
}


/* Navbar */
nav {
    background-color: var(--bs-secondary);
}


.line {
    margin: .4rem;
    opacity: 1;
}



/* Header */



.divider {
    border-top: 3px solid;
}

.star i {
    font-size: 1.3rem;
    padding: 0 .5rem;
}

.second-divider{
    border-color: var(--bs-secondary);
}

main section:first-child i, main section:nth-child(3) i{
    color: var(--bs-secondary);
}

.my-btn-icon {
    --bs-btn-color: #feffff;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
    min-width: 40px;
    min-height: 40px;
    margin: 0 .2rem;
}

.my-btn-send {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.my-btn-download {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #f8f9fa;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

footer{
    --bs-link-color-rgb:26, 188, 156;
    --bs-link-hover-color-rgb: 255,255,255; 
}

.my-border{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}







/* .row {
    border: 1px solid red
}

[class*="col-"] {
    border: 1px solid rgb(0, 255, 13);
} */